.formStyle{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.formStyle label  span {
    padding-right: 10px;
}

.formItem{
    margin: 10px;
}

.btnStyle{
    width: 100px;
    height: 30px;
}

.fieldStyle{
    height: 30px;
}