.shStyle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.navStyle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navLinkStyle{
    margin: 10px;
}